
:local(.styles) {

    .img-placeholder {
        text-align: center;
            width: 200px;
            display: block;
            object-fit: cover;
            margin: auto;
            margin-top: 0px;
        
    }

    .img-uploaded {
        text-align: center;
            width: 100%;
            display: block;
            object-fit: cover;
            margin: auto;
            margin-top: 0px;
       
    }


    .progress-indicator {
        margin: auto;
        text-align: center;
        height: 70px;
        width: 70px;
    }
}
